@{
    Layout = "_Layout";
}


<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <div class="breadcrumb p-0 m-0">
                        <div class="button-list">
                            <button type="button" onclick="location.href = '/Product/CreateProduct'" class="btn btn-primary btn-rounded waves-effect waves-light">Create Product</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-border card-primary">
                <div class="card-header border-primary bg-transparent pb-0">
                    <h3 class="card-title text-primary">User Details</h3>
                </div>
                <div class="card-body">
                    <div class="row table-rep-plugin">
                        <div class="col-md-12 col-sm-12 col-12 table-responsive mb-0" data-pattern="priority-columns">
                            <table id="datatable" class="table table-striped text-center table-hover table-small-font table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr class="text-black text-center fw-bold bg-warning">
                                        <td>Name</td>
                                        <td>Description</td>
                                        <td>Price</td>
                                        <td>Photo</td>
                                        <td>CreatedBy</td>
                                        <td>UpdatedBy</td>
                                        <td>DateCreated</td>
                                        <td>DateLastUpdated</td>
                                        <td>Active</td>
                                        <td>Change</td>
                                        <td>Delete</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Product product in ViewBag.product)
                                    {
                                        <tr>
                                            <td>@product.Name</td>
                                            <td>@product.Description</td>
                                            <td>@product.Price</td>
                                            <td><a href="~/Images/@product.Image" target="_blank"><img src="~/Images/@product.Image" height="50px" /></a></td>
                                            <td>@product.CreatedBy</td>
                                            <td>@product.UpdatedBy</td>
                                            <td>@product.DateCreated</td>
                                            <td>@product.DateLastUpdated</td>
                                            <td>@product.Active</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded waves-effect waves-light" onclick="location.href = '/Product/editProduct/?ID=@product.Id'">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger btn-rounded waves-effect waves-light" onclick="if ( ConfirmDelete()){location.href = '/Product/DeleteProduct/?ID=@product.Id';};">Remove</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   <!-- End Row -->
</div>  <!-- end container-fluid -->